:root{
    --primary-brand:#4D5AE5;
    --pressed-state:#404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #f4f4fd;
    --modal-overlay: #2E2F42;
    --hero-background: #2E2F42;
    --white-background: #fff;
}

.list {
    list-style: none;
}
.link {
text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    background: var(--white-background);
}

/*===========================Components===========================*/

.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
}
.logo-studio {
    color: var(--dark);
}
.logo-studio-footer {
    color: var(--light);
}

.subheader {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
}
.sub-subheader {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}

/*===========================/Components===========================*/

/*===========================Header===========================*/
/* .page-header {
    background: var(--dark);
} */

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.menu-link:hover,
.menu-link:focus {
    color: var(--pressed-state);
}
.contacts{
    font-style: normal;
}
.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--adr-color);
}
    .contacts-link:hover,
    .contacts-link:focus{
    color: var(--pressed-state);
}
/*===========================/Header===========================*/

/*===========================Hero===========================*/

.hero {
    background-color: var(--dark);
}
.main-header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-background);
}
.order-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    background: var(--primary-brand);
    color: var(--white-background);
    cursor: pointer;
}
.order-btn:hover,
.order-btn:focus {
    background: var(--pressed-state);
}
/*===========================/Hero===========================*/

/*===========================Our Team===========================*/

.team {
    background: var(--light);
}
.team-list-item{
    background: var(--white-background);
}
/*===========================/Our Team===========================*/

/*===========================Footer===========================*/

.footer {
    background-color: var(--dark);
}
.footer-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light);
}
/*===========================/Footer===========================*/

/*===========================Portfolio===========================*/

.portfolio-menu-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    background: var(--light);
    border: 1px solid var(--accent);
    border-radius: 4px;
    cursor: pointer;
}
.portfolio-menu-btn:hover,
.portfolio-menu-btn:focus {
    color: var(--white-background);
    background: var(--pressed-state);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list-item {
    border: 1px solid var(--accent)
}

/*===========================Portfolio===========================*/